<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ethereal.FAF.UI.Client.Properties.Paths" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Ethereal.FAF.UI.Client.Properties.Paths>
            <setting name="Patch" serializeAs="String">
                <value>C:\ProgramData\FAForever</value>
            </setting>
            <setting name="Game" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\steamapps\common\Supreme Commander Forged Alliance</value>
            </setting>
            <setting name="Vault" serializeAs="String">
                <value>C:\Users\Eternal\Documents\My Games\Gas Powered Games\Supreme Commander Forged Alliance</value>
            </setting>
            <setting name="Replays" serializeAs="String">
                <value>C:\ProgramData\FAForever\replays</value>
            </setting>
            <setting name="GameLogs" serializeAs="String">
                <value>C:\ProgramData\FAForever\logs\game.uid.{uid}.log</value>
            </setting>
        </Ethereal.FAF.UI.Client.Properties.Paths>
    </userSettings>
</configuration>